@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.eot');
  src:
    url('../fonts/roboto-regular.woff') format('woff'),
    url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.ttf') format('truetype'),
    url('../fonts/roboto-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium.eot');
  src:
    url('../fonts/roboto-medium.woff') format('woff'),
    url('../fonts/roboto-medium.woff2') format('woff2'),
    url('../fonts/roboto-medium.ttf') format('truetype'),
    url('../fonts/roboto-medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}