@import 'variables';
@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: $blueDark;
  background-color: $grayLight;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 140px auto;
}

.title {
  font-size: 1.875rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: $white;
  background-color: $green;
  border: none;
  border-bottom: 2px solid darken($green, 10);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  transition: all .3s;

  &:hover,
  &:active {
    background-color: darken($green, 10);
  }

  &_red {
    background-color: $red;
    border-bottom: 2px solid darken($red, 10);

    &:hover,
    &:active {
      background-color: darken($red, 10);
    }
  }

  &_disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &_lg {
    min-width: 180px;
  }
}

.nav-link {
  display: inline-block;
  font-size: 1.125rem;
  color: $white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: $purple;
  border-radius: 4px;
  padding: 10px 40px;
  transition: background-color .3s;

  &:hover {
    background-color: darken($purple, 10);
  }
}