@import '../../styles/variables';

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: $grayLight;
  padding: 20px 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  &__img {
    display: block;
    width: 180px;
    height: 240px;
    margin-bottom: 20px;
    object-fit: none;
  }

  &__title {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__price {
    margin-bottom: 10px;
  }
}